
@{
    ViewBag.Title = "SupportEtudiant - Groupe";
}


<style>
</style>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>Equipes</h2>
        <ol class="breadcrumb">
            <li>
                <a href="@Url.Action("Index", "Home")">Accueil</a>
            </li>
            <li class="active">
                <strong>Equipes</strong>
            </li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="ibox-content m-b-sm border-bottom">
                <div class="p-xs">
                    <div class="pull-left m-r-md">
                        <i class="fas fa-people-carry text-navy mid-icon" style="color:#0079be"></i>
                    </div>
                    <h2>Bienvenue sur la recherche d'une équipe de Support Etudiant</h2>
                    <span>Choisissez le cours désirer pour répondre ou postuler à une recherche d'équipe ou consulte tes avis de recherche.</span>
                </div>
            </div>
            <div class="ibox-content forum-container">
                <div class="forum-title">
                    <h3>Recherches d'équipe par cours</h3>
                </div>
                <div class="forum-item active">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="forum-icon">
                                <i class="fas fa-users fa-2x"></i>
                            </div>
                            <a href="@Url.Action("GroupeTopicList", "Groupe")" class="forum-item-title">INF1070 - Utilisation et administration des systèmes informatiques</a>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                2
                            </span>
                            <div>
                                <small>Equipes</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forum-item active">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="forum-icon">
                                <i class="fas fa-users fa-2x"></i>
                            </div>
                            <a href="@Url.Action("GroupeTopicList", "Groupe")" class="forum-item-title">INF1120 - Programmation 1</a>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                3
                            </span>
                            <div>
                                <small>Equipes</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forum-item active">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="forum-icon">
                                <i class="fas fa-users fa-2x"></i>
                            </div>
                            <a href="@Url.Action("GroupeTopicList", "Groupe")" class="forum-item-title">INF2050 - Outils et pratiques de développement logiciel</a>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                6
                            </span>
                            <div>
                                <small>Equipes</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forum-item active">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="forum-icon">
                                <i class="fas fa-users fa-2x"></i>
                            </div>
                            <a href="@Url.Action("GroupeTopicList", "Groupe")" class="forum-item-title">INF3172 - Principes des systèmes d'exploitation</a>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                4
                            </span>
                            <div>
                                <small>Equipes</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="forum-title">
                    <h3>Mes avis de recherche</h3>
                </div>
                <div class="forum-item active">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="forum-icon">
                                <i class="fas fa-exclamation fa-2x"></i>
                            </div>
                            <a href="@Url.Action("GroupeTopicList", "Groupe")" class="forum-item-title">Recherche groupe projet - INM5151</a>
                            <div class="forum-sub-title">Bonjour, je recherche un groupe pour le projet du cours INM5151. Si t'es motivé et sérieux contact moi.</div>
                        </div>
                        <div class="col-md-1 forum-info">
                            <span class="views-number">
                                4
                            </span>
                            <div>
                                <small>Réponses</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>